<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-column>Case Number</clr-dg-column>
  <clr-dg-column>Job Title</clr-dg-column>
  <clr-dg-column>Soc Code</clr-dg-column>
  <clr-dg-column>Soc Name</clr-dg-column>
  <clr-dg-column>NAICS Code</clr-dg-column>

  <clr-dg-row *clrDgItems="let datum of data">
    <clr-dg-cell>{{datum.case_number}}</clr-dg-cell>
    <clr-dg-cell>{{datum.job_title}}</clr-dg-cell>
    <clr-dg-cell>{{datum.soc_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.soc_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.naics_code}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5, 50, 100]">rows per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

