<h1>ABOUT THE PROJECT</h1>
<h6>db-project is the final project for <b>CS 3265: Database Management Systems</b> at Vanderbilt University.</h6>
<p>REQUIREMENTS:</p>
<ol style="text-indent: 1%">
  <li>The data set must not be less than <i>200 MB</i> and must have at least <i>50 attributes</i>.</li>
  <li>The back-end data source must be <i>MySQL</i>.</li>
  <li>The database must incorporate concepts introduced in the second half of the semester, such as:
    <ul>
      <li>transactions</li>
      <li>views</li>
      <li>triggers</li>
      <li>indexing</li>
    </ul>
  </li>
  <li>The database must be populated with a significant amount of data for <i>testing</i> and <i>demonstration</i>.</li>
  <li>The database must be connected to an <i>application interface</i> to enable user interaction with the  data.</li>
</ol>
<p>&#169; Jason Brito, 2020</p>

