<h1>ABOUT THE PROJECT</h1>
<h6>db-project is the final project for CS 3265: Database Management Systems at Vanderbilt University.</h6>
<p>REQUIREMENTS:</p>
<ol style="text-indent: 1%">
  <li>The data set must not be less than 200 MB and must have at least 50 attributes.</li>
  <li>The back-end data source must be MySQL.</li>
  <li>The database must incorporate concepts introduced in the second half of the semester, such as:
    <ul>
      <li>transactions</li>
      <li>views</li>
      <li>triggers</li>
      <li>indexing</li>
    </ul>
  </li>
  <li>The database must be populated with a significant amount of data for testing and demonstration.</li>
  <li>The database must be connected to an application interface to enable user interaction with the  data.</li>
</ol>

