<clr-datagrid>
  <clr-dg-column>Case Number</clr-dg-column>
  <clr-dg-column>Case Status</clr-dg-column>
  <clr-dg-column>Visa Class</clr-dg-column>
  <clr-dg-column>Employer Name</clr-dg-column>
  <clr-dg-column>Employer Phone</clr-dg-column>
  <clr-dg-column>Employer Phone Ext</clr-dg-column>
  <clr-dg-column>Agent Attorney Name</clr-dg-column>
  <clr-dg-column>Job Title</clr-dg-column>
  <clr-dg-column>Soc Code</clr-dg-column>
  <clr-dg-column>NAICS Code</clr-dg-column>
  <clr-dg-column>Full-Time Position</clr-dg-column>
  <clr-dg-column>H1B Dependent</clr-dg-column>
  <clr-dg-column>Willful Violator</clr-dg-column>
  <clr-dg-column>Support H1B</clr-dg-column>
  <clr-dg-column>Labor Con Agree</clr-dg-column>

  <clr-dg-row *clrDgItems="let datum of data">
    <clr-dg-cell>{{datum.case_number}}</clr-dg-cell>
    <clr-dg-cell>{{datum.case_status}}</clr-dg-cell>
    <clr-dg-cell>{{datum.visa_class}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_phone}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_phone_ext}}</clr-dg-cell>
    <clr-dg-cell>{{datum.agent_attorney_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.job_title}}</clr-dg-cell>
    <clr-dg-cell>{{datum.soc_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.naics_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.full_time_position}}</clr-dg-cell>
    <clr-dg-cell>{{datum.h1b_dependent}}</clr-dg-cell>
    <clr-dg-cell>{{datum.willful_violator}}</clr-dg-cell>
    <clr-dg-cell>{{datum.support_h1b}}</clr-dg-cell>
    <clr-dg-cell>{{datum.labor_con_agree}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5, 50, 100]">rows per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
