<clr-datagrid class="datagrid-compact">
  <clr-dg-column>Case Number</clr-dg-column>
  <clr-dg-column>Case Status</clr-dg-column>
  <clr-dg-column>Case Submitted</clr-dg-column>
  <clr-dg-column>Decision Date</clr-dg-column>
  <clr-dg-column>Visa Class</clr-dg-column>
  <clr-dg-column>Employment Start Date</clr-dg-column>
  <clr-dg-column>Employment End Date</clr-dg-column>
  <clr-dg-column>Employer Name</clr-dg-column>
  <clr-dg-column>Employer Business DBA</clr-dg-column>
  <clr-dg-column>Employer Address</clr-dg-column>
  <clr-dg-column>Employer City</clr-dg-column>
  <clr-dg-column>Employer State</clr-dg-column>
  <clr-dg-column>Employer Postal Code</clr-dg-column>
  <clr-dg-column>Employer Country</clr-dg-column>
  <clr-dg-column>Employer Province</clr-dg-column>
  <clr-dg-column>Employer Phone</clr-dg-column>
  <clr-dg-column>Employer Phone Ext</clr-dg-column>
  <clr-dg-column>Agent Representing Employer</clr-dg-column>
  <clr-dg-column>Agent Attorney Name</clr-dg-column>
  <clr-dg-column>Agent Attorney City</clr-dg-column>
  <clr-dg-column>Agent Attorney State</clr-dg-column>
  <clr-dg-column>Job Title</clr-dg-column>
  <clr-dg-column>Soc Code</clr-dg-column>
  <clr-dg-column>Soc Name</clr-dg-column>
  <clr-dg-column>NAICS Code</clr-dg-column>
  <clr-dg-column>Total Workers</clr-dg-column>
  <clr-dg-column>New Employment</clr-dg-column>
  <clr-dg-column>Continued Employment</clr-dg-column>
  <clr-dg-column>Change Previous Employment</clr-dg-column>
  <clr-dg-column>New Concurrent Employment</clr-dg-column>
  <clr-dg-column>Change Employer</clr-dg-column>
  <clr-dg-column>Amended Petition</clr-dg-column>
  <clr-dg-column>Full-Time Position</clr-dg-column>
  <clr-dg-column>Prevailing Wage</clr-dg-column>
  <clr-dg-column>PW Unit of Pay</clr-dg-column>
  <clr-dg-column>PW Wage Level</clr-dg-column>
  <clr-dg-column>PW Source</clr-dg-column>
  <clr-dg-column>PW Source Year</clr-dg-column>
  <clr-dg-column>PW Source Other</clr-dg-column>
  <clr-dg-column>Wage Rate of Pay From</clr-dg-column>
  <clr-dg-column>Wage Rate of Pay To</clr-dg-column>
  <clr-dg-column>Wage Unit of Pay</clr-dg-column>
  <clr-dg-column>H1B Dependent</clr-dg-column>
  <clr-dg-column>Willful Violator</clr-dg-column>
  <clr-dg-column>Support H1B</clr-dg-column>
  <clr-dg-column>Labor Con Agree</clr-dg-column>
  <clr-dg-column>Public Disclosure Location</clr-dg-column>
  <clr-dg-column>Worksite City</clr-dg-column>
  <clr-dg-column>Worksite County</clr-dg-column>
  <clr-dg-column>Worksite State</clr-dg-column>
  <clr-dg-column>Worksite Postal Code</clr-dg-column>
  <clr-dg-column>Original Cert Date</clr-dg-column>

  <clr-dg-row *clrDgItems="let app of apps">
    <clr-dg-cell>{{app.CASE_NUMBER}}</clr-dg-cell>
    <clr-dg-cell>{{app.CASE_STATUS}}</clr-dg-cell>
    <clr-dg-cell>{{app.CASE_SUBMITTED}}</clr-dg-cell>
    <clr-dg-cell>{{app.DECISION_DATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.VISA_CLASS}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYMENT_START_DATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYMENT_END_DATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_NAME}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_BUSINESS_DBA}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_ADDRESS}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_CITY}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_STATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_POSTAL_CODE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_COUNTRY}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_PROVINCE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_PHONE}}</clr-dg-cell>
    <clr-dg-cell>{{app.EMPLOYER_PHONE_EXT}}</clr-dg-cell>
    <clr-dg-cell>{{app.AGENT_REPRESENTING_EMPLOYER}}</clr-dg-cell>
    <clr-dg-cell>{{app.AGENT_ATTORNEY_NAME}}</clr-dg-cell>
    <clr-dg-cell>{{app.AGENT_ATTORNEY_CITY}}</clr-dg-cell>
    <clr-dg-cell>{{app.AGENT_ATTORNEY_STATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.JOB_TITLE}}</clr-dg-cell>
    <clr-dg-cell>{{app.SOC_CODE}}</clr-dg-cell>
    <clr-dg-cell>{{app.SOC_NAME}}</clr-dg-cell>
    <clr-dg-cell>{{app.NAICS_CODE}}</clr-dg-cell>
    <clr-dg-cell>{{app.TOTAL_WORKERS}}</clr-dg-cell>
    <clr-dg-cell>{{app.NEW_EMPLOYMENT}}</clr-dg-cell>
    <clr-dg-cell>{{app.CONTINUED_EMPLOYMENT}}</clr-dg-cell>
    <clr-dg-cell>{{app.CHANGE_PREVIOUS_EMPLOYMENT}}</clr-dg-cell>
    <clr-dg-cell>{{app.NEW_CONCURRENT_EMPLOYMENT}}</clr-dg-cell>
    <clr-dg-cell>{{app.CHANGE_EMPLOYER}}</clr-dg-cell>
    <clr-dg-cell>{{app.AMENDED_PETITION}}</clr-dg-cell>
    <clr-dg-cell>{{app.FULL_TIME_POSITION}}</clr-dg-cell>
    <clr-dg-cell>{{app.PREVAILING_WAGE}}</clr-dg-cell>
    <clr-dg-cell>{{app.PW_UNIT_OF_PAY}}</clr-dg-cell>
    <clr-dg-cell>{{app.PW_WAGE_LEVEL}}</clr-dg-cell>
    <clr-dg-cell>{{app.PW_SOURCE}}</clr-dg-cell>
    <clr-dg-cell>{{app.PW_SOURCE_YEAR}}</clr-dg-cell>
    <clr-dg-cell>{{app.PW_SOURCE_OTHER}}</clr-dg-cell>
    <clr-dg-cell>{{app.WAGE_RATE_OF_PAY_FROM}}</clr-dg-cell>
    <clr-dg-cell>{{app.WAGE_RATE_OF_PAY_TO}}</clr-dg-cell>
    <clr-dg-cell>{{app.WAGE_UNIT_OF_PAY}}</clr-dg-cell>
    <clr-dg-cell>{{app.H1B_DEPENDENT}}</clr-dg-cell>
    <clr-dg-cell>{{app.WILLFUL_VIOLATOR}}</clr-dg-cell>
    <clr-dg-cell>{{app.SUPPORT_H1B}}</clr-dg-cell>
    <clr-dg-cell>{{app.LABOR_CON_AGREE}}</clr-dg-cell>
    <clr-dg-cell>{{app.PUBLIC_DISCLOSURE_LOCATION}}</clr-dg-cell>
    <clr-dg-cell>{{app.WORKSITE_CITY}}</clr-dg-cell>
    <clr-dg-cell>{{app.WORKSITE_COUNTY}}</clr-dg-cell>
    <clr-dg-cell>{{app.WORKSITE_STATE}}</clr-dg-cell>
    <clr-dg-cell>{{app.WORKSITE_POSTAL_CODE}}</clr-dg-cell>
    <clr-dg-cell>{{app.ORIGINAL_CERT_DATE}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5, 50, 100]">applications per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} applications
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

