<clr-modal [(clrModalOpen)]="openCreate">
  <h3 class="modal-title">Create New Record</h3>
  <div class="modal-body">
    <form>
      <clr-input-container>
        <label>Case Number</label>
        <input clrInput type="text" [(ngModel)]="case_number" name="1" />
      </clr-input-container>
      <clr-input-container>
        <label>Public Disclosure Location</label>
        <input clrInput type="text" [(ngModel)]="public_disclosure_location" name="2" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite City</label>
        <input clrInput type="text" [(ngModel)]="worksite_city" name="3" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite County</label>
        <input clrInput type="text" [(ngModel)]="worksite_county" name="4" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite State</label>
        <input clrInput type="text" [(ngModel)]="worksite_state" name="5" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite Postal Code</label>
        <input clrInput type="text" [(ngModel)]="worksite_postal_code" name="5" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="openCreate = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="create()">Submit</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openUpdate">
  <h3 class="modal-title">Update {{case_number}}</h3>
  <div class="modal-body">
    <form>
      <clr-input-container>
        <label>Public Disclosure Location</label>
        <input clrInput type="text" [(ngModel)]="public_disclosure_location" name="2" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite City</label>
        <input clrInput type="text" [(ngModel)]="worksite_city" name="3" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite County</label>
        <input clrInput type="text" [(ngModel)]="worksite_county" name="4" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite State</label>
        <input clrInput type="text" [(ngModel)]="worksite_state" name="5" />
      </clr-input-container>
      <clr-input-container>
        <label>Worksite Postal Code</label>
        <input clrInput type="text" [(ngModel)]="worksite_postal_code" name="5" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="openUpdate = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="update()">Submit</button>
  </div>
</clr-modal>

<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column>Case Number</clr-dg-column>
  <clr-dg-column>Public Disclosure Location</clr-dg-column>
  <clr-dg-column>Worksite City</clr-dg-column>
  <clr-dg-column>Worksite County</clr-dg-column>
  <clr-dg-column>Worksite State</clr-dg-column>
  <clr-dg-column>Worksite Postal Code</clr-dg-column>

  <clr-dg-row *clrDgItems="let datum of data" [clrDgItem]="datum">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onUpdate(datum)">Update</button>
      <button class="action-item" (click)="delete(datum)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{datum.case_number}}</clr-dg-cell>
    <clr-dg-cell>{{datum.public_disclosure_location}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_city}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_county}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_state}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_postal_code}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <button class="btn btn-sm btn-outline-primary" (click)="onCreate()">Create</button>
      <clr-dg-page-size [clrPageSizeOptions]="[5, 50, 100]">rows per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

