<clr-datagrid>
  <clr-dg-column>Case Number</clr-dg-column>
  <clr-dg-column>Case Status</clr-dg-column>
  <clr-dg-column>Case Submitted</clr-dg-column>
  <clr-dg-column>Decision Date</clr-dg-column>
  <clr-dg-column>Visa Class</clr-dg-column>
  <clr-dg-column>Employment Start Date</clr-dg-column>
  <clr-dg-column>Employment End Date</clr-dg-column>
  <clr-dg-column>Employer Name</clr-dg-column>
  <clr-dg-column>Employer Business DBA</clr-dg-column>
  <clr-dg-column>Employer Address</clr-dg-column>
  <clr-dg-column>Employer City</clr-dg-column>
  <clr-dg-column>Employer State</clr-dg-column>
  <clr-dg-column>Employer Postal Code</clr-dg-column>
  <clr-dg-column>Employer Country</clr-dg-column>
  <clr-dg-column>Employer Province</clr-dg-column>
  <clr-dg-column>Employer Phone</clr-dg-column>
  <clr-dg-column>Employer Phone Ext</clr-dg-column>
  <clr-dg-column>Agent Representing Employer</clr-dg-column>
  <clr-dg-column>Agent Attorney Name</clr-dg-column>
  <clr-dg-column>Agent Attorney City</clr-dg-column>
  <clr-dg-column>Agent Attorney State</clr-dg-column>
  <clr-dg-column>Job Title</clr-dg-column>
  <clr-dg-column>Soc Code</clr-dg-column>
  <clr-dg-column>Soc Name</clr-dg-column>
  <clr-dg-column>NAICS Code</clr-dg-column>
  <clr-dg-column>Total Workers</clr-dg-column>
  <clr-dg-column>New Employment</clr-dg-column>
  <clr-dg-column>Continued Employment</clr-dg-column>
  <clr-dg-column>Change Previous Employment</clr-dg-column>
  <clr-dg-column>New Concurrent Employment</clr-dg-column>
  <clr-dg-column>Change Employer</clr-dg-column>
  <clr-dg-column>Amended Petition</clr-dg-column>
  <clr-dg-column>Full-Time Position</clr-dg-column>
  <clr-dg-column>Prevailing Wage</clr-dg-column>
  <clr-dg-column>PW Unit of Pay</clr-dg-column>
  <clr-dg-column>PW Wage Level</clr-dg-column>
  <clr-dg-column>PW Source</clr-dg-column>
  <clr-dg-column>PW Source Year</clr-dg-column>
  <clr-dg-column>PW Source Other</clr-dg-column>
  <clr-dg-column>Wage Rate of Pay From</clr-dg-column>
  <clr-dg-column>Wage Rate of Pay To</clr-dg-column>
  <clr-dg-column>Wage Unit of Pay</clr-dg-column>
  <clr-dg-column>H1B Dependent</clr-dg-column>
  <clr-dg-column>Willful Violator</clr-dg-column>
  <clr-dg-column>Support H1B</clr-dg-column>
  <clr-dg-column>Labor Con Agree</clr-dg-column>
  <clr-dg-column>Public Disclosure Location</clr-dg-column>
  <clr-dg-column>Worksite City</clr-dg-column>
  <clr-dg-column>Worksite County</clr-dg-column>
  <clr-dg-column>Worksite State</clr-dg-column>
  <clr-dg-column>Worksite Postal Code</clr-dg-column>
  <clr-dg-column>Original Cert Date</clr-dg-column>

  <clr-dg-row *clrDgItems="let datum of data">
    <clr-dg-cell>{{datum.case_number}}</clr-dg-cell>
    <clr-dg-cell>{{datum.case_status}}</clr-dg-cell>
    <clr-dg-cell>{{datum.case_submitted}}</clr-dg-cell>
    <clr-dg-cell>{{datum.decision_date}}</clr-dg-cell>
    <clr-dg-cell>{{datum.visa_class}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employment_start_date}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employment_end_date}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_business_dba}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_address}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_city}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_state}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_postal_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_country}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_province}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_phone}}</clr-dg-cell>
    <clr-dg-cell>{{datum.employer_phone_ext}}</clr-dg-cell>
    <clr-dg-cell>{{datum.agent_representing_employer}}</clr-dg-cell>
    <clr-dg-cell>{{datum.agent_attorney_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.agent_attorney_city}}</clr-dg-cell>
    <clr-dg-cell>{{datum.agent_attorney_state}}</clr-dg-cell>
    <clr-dg-cell>{{datum.job_title}}</clr-dg-cell>
    <clr-dg-cell>{{datum.soc_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.soc_name}}</clr-dg-cell>
    <clr-dg-cell>{{datum.naics_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.total_workers}}</clr-dg-cell>
    <clr-dg-cell>{{datum.new_employment}}</clr-dg-cell>
    <clr-dg-cell>{{datum.continued_employment}}</clr-dg-cell>
    <clr-dg-cell>{{datum.change_previous_employment}}</clr-dg-cell>
    <clr-dg-cell>{{datum.new_concurrent_employment}}</clr-dg-cell>
    <clr-dg-cell>{{datum.change_employer}}</clr-dg-cell>
    <clr-dg-cell>{{datum.amended_petition}}</clr-dg-cell>
    <clr-dg-cell>{{datum.full_time_position}}</clr-dg-cell>
    <clr-dg-cell>{{datum.prevailing_wage}}</clr-dg-cell>
    <clr-dg-cell>{{datum.pw_unit_of_pay}}</clr-dg-cell>
    <clr-dg-cell>{{datum.pw_wage_level}}</clr-dg-cell>
    <clr-dg-cell>{{datum.pw_source}}</clr-dg-cell>
    <clr-dg-cell>{{datum.pw_source_year}}</clr-dg-cell>
    <clr-dg-cell>{{datum.pw_source_other}}</clr-dg-cell>
    <clr-dg-cell>{{datum.wage_rate_of_pay_from}}</clr-dg-cell>
    <clr-dg-cell>{{datum.wage_rate_of_pay_to}}</clr-dg-cell>
    <clr-dg-cell>{{datum.wage_unit_of_pay}}</clr-dg-cell>
    <clr-dg-cell>{{datum.h1b_dependent}}</clr-dg-cell>
    <clr-dg-cell>{{datum.willful_violator}}</clr-dg-cell>
    <clr-dg-cell>{{datum.support_h1b}}</clr-dg-cell>
    <clr-dg-cell>{{datum.labor_con_agree}}</clr-dg-cell>
    <clr-dg-cell>{{datum.public_disclosure_location}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_city}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_county}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_state}}</clr-dg-cell>
    <clr-dg-cell>{{datum.worksite_postal_code}}</clr-dg-cell>
    <clr-dg-cell>{{datum.original_cert_date}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5, 50, 100]">rows per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

