<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <a routerLink="/read" routerLinkActive="active" class="nav-link nav-text">Application</a>
    <section class="nav-group">
      <label>About</label>
      <ul class="nav-list">
        <li><a routerLink="/about" routerLinkActive="active" class="nav-link">The Project</a></li>
        <li><a routerLink="/about-data" routerLinkActive="active" class="nav-link">The Data</a></li>
      </ul>
    </section>
  </section>
</nav>
