<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <section class="nav-group">
      <label>Tables</label>
      <ul class="nav-list">
        <li><a routerLink="/read" routerLinkActive="active" class="nav-link nav-text">MEGA</a></li>
        <li><a routerLink="/agent-info" routerLinkActive="active" class="nav-link nav-text">Agent Info</a></li>
        <li><a routerLink="/case-info" routerLinkActive="active" class="nav-link nav-text">Case Info</a></li>
        <li><a routerLink="/employer-audit" routerLinkActive="active" class="nav-link nav-text">Employer Audit</a></li>
        <li><a routerLink="/employer-info" routerLinkActive="active" class="nav-link nav-text">Employer Info</a></li>
        <li><a routerLink="/employment-h1b-info" routerLinkActive="active" class="nav-link nav-text">Employment H1B Info</a></li>
        <li><a routerLink="/employment-info" routerLinkActive="active" class="nav-link nav-text">Employment Info</a></li>
        <li><a routerLink="/job-description" routerLinkActive="active" class="nav-link nav-text">Job Description</a></li>
        <li><a routerLink="/wages" routerLinkActive="active" class="nav-link nav-text">Wages</a></li>
        <li><a routerLink="/worksite-info" routerLinkActive="active" class="nav-link nav-text">Worksite Info</a></li>
      </ul>
    </section>
    <section class="nav-group">
      <label>About</label>
      <ul class="nav-list">
        <li><a routerLink="/about" routerLinkActive="active" class="nav-link">The Project</a></li>
        <li><a routerLink="/about-data" routerLinkActive="active" class="nav-link">The Data</a></li>
      </ul>
    </section>
  </section>
</nav>
