<h1>ABOUT THE DATA</h1>
<h6>The data for db-project is the H-1B iCERT LCA public disclosure file.</h6>
<p>
  This public disclosure file contains administrative data from employers’ Labor Condition
  Applications (ETA Forms 9035 & 9035E) and the certification determinations processed by the Department’s
  Office of Foreign Labor Certification, Employment and Training Administration where the date of the determination
  was issued on or after October 1, 2017, and on or before September 30, 2018. All data were extracted from the
  Office of Foreign Labor Certification’s iCERT Visa Portal System: an electronic filing and application processing
  system of employer requests for H-1B non-immigrant workers.
</p>
<p>
  The data set is 239 MB and has 52 attributes.
  The data was downloaded from the
  <a href="https://www.kaggle.com/auygur/h1b-dataset-2017-2018" target="_blank">H1B Dataset 2017_2018</a>
  data set by ArmanUygur on Kaggle who downloaded it from the
  United States Department of Labor Employment & Training Administration Office of Foreign Labor Certification
  <a href="https://www.foreignlaborcert.doleta.gov/performancedata.cfm#dis" target="_blank">disclosure data</a>.
</p>


